
.wrapper {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
	min-height: 100vh;
    flex-direction: column;
}

.wrapper-index {
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
	min-height: 100vh;
    flex-direction: column;
}


main {
    padding: 30px;
    flex: 1;
}



main article:first-child h2 {
    margin-top: 0;
}

main p:last-child {
    margin-bottom: 0;
}

article h1 {
    color: white;
    font-size: 40px;
    text-align: center;
}

article h2 {
    margin: 0;
    line-height: 1;
    text-align: center;
}

article p {
    color: rgba(0, 0, 0, 1);
    text-align: left;
    padding: 10px;
}

.enrol {
    text-align: center;
    padding: 50px;
    color: white;
}

.btn {
    background-color: $brand-color;
    border-radius:  8px;
    border: 2px solid gray;
    color: white;
    padding: 15px 32px;
    margin-bottom: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.btn:hover {
    background-color: gray;
    transition-duration: 1s;
}


table, th, td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    font-weight: bold;
    text-align: left;
}

th, td {
    padding: 5px;
}

