
/* CSS Document */

/* Box Sizing Reset */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    margin: 0;
    font-family: 'Raleway', Arial, sans-serif;
    background-color: $bg-color-white;
}

h1, h2, h3, h4, h5, nav a {
    font-family: 'Raleway', Arial, sans-serif;
}


header {
    color: Black;
    padding: 5px 60px;
}

header h1 {
    margin: 0;
    line-height: 1;
}




